/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 ul {
    list-style-type: none;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    width: 100px;
    margin: 0 auto;
  }

  h1 {
      width: 80%;
      padding-top: 40px;
      font-size: 40px;
      margin: 0 auto;
      text-align: center;
  }

  header {
    height: auto;
    max-width: 75rem;
    margin: 0 auto;
    background-color: lightgray;
    position: relative;
    margin-top: 20px;
  }

  main {
    max-width: 75rem;
    margin: 0 auto;
    height: 50px;
    margin-top: 1px;
  }

  footer {
    height: 50px;
    margin: 0 auto;
    max-width: 75rem;
    background-color: lightgray;
    margin-bottom: 1px;
  }

  #copyright {
      padding-top: 10px;
      margin: 0 auto;
      width: 200px;
      font-size: 20px;
      font-weight: bold;
  }